
.vs/parallel_plus/v15/.suo
*.db
.vs/parallel_plus/v15/.suo
*.exe
*.pdb
*.exe
*.exe
*.ipch
*.ilk
*.sln
*.iobj
*.ipdb
*.tlog
*.idb
*.obj
*.log
*.vcxproj
*.filters
*.opendb
*.user
lab3additional1/.vs/lab3additional1/v15/.suo
